@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body{
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Mochiy Pop One", sans-serif;
}

input#open{
  display: none;
}

.valentines-day-card{
  position: relative;
  width: 300px;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e63946;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
a:hover {
  background-color: #d62828;
}