@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body{
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Mochiy Pop One", sans-serif;
}

input#open{
  display: none;
}

.valentines-day-card{
  position: relative;
  width: 300px;
}
